$dark-blue: #0a5efb;
$light-blue: #13bafe;
$yellow: #ffbf00;
$light-yellow: #ffe100;
$grey: #868d96;
$dark-grey: #797979;
$orange: #f88700;
$action-color: #001b4d;
.btn-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $yellow !important;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  border-top-color: $light-yellow;
  border-bottom-color: $orange;
  color: $action-color;
  text-transform: uppercase;
  box-shadow:  0 0 2px #333, 0 0 0 4px #111;
  font-weight: 900;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  gap: 0.5rem;
    &:hover {
      background-color: #ffcb00;
      border-top-color: #ffef7c;
      border-bottom-color: $orange;
      color: $action-color;
    }
}